body {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

.letter {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 100px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.open {
    height: 850px; /* Altura adicional para mostrar el contenido completo */
    width: 540px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
